<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="ExampleBean" class="spring.autowired.ExampleBean"
		autowire="byName">
		<constructor-arg>
			<bean class="spring.autowired.ExampleBean2">
				<constructor-arg type="String">
					<value>bean2ByContructor</value>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<property name="PublicExampleBean2">
			<bean class="spring.autowired.ExampleBean2">
				<constructor-arg type="String">
					<value>bean2ByPublicSetter</value>
				</constructor-arg>
			</bean>
		</property>
		<!-- <property name="PrivateExampleBean2"> <bean class="edward.practice.spring.ExampleBean2"> 
			<constructor-arg type="String"> <value>bean2ByPrivateSetter</value> </constructor-arg> 
			</bean> </property> -->
	</bean>

	<bean id="bean2ByAutowired" class="spring.autowired.ExampleBean2">
		<constructor-arg type="String">
			<value>bean2ByAutowired</value>
		</constructor-arg>
	</bean>

	<context:component-scan base-package="spring.autowired.data" />

	<context:annotation-config />
</beans>